#body{
    margin: 0px;
}
#banner{
	width: 100%;/*largura da imagem principal*/
	z-index: -1;/*onde ela aparece na pagina "profundidade"*/
	position: relative;/*posicao dela em relacao a outra parte do site (relative) ou em relacao ao proprio espacamento (absolute)*/
}
#logotrainee{
	position: absolute;/*a div permanece fixada, mesmo ao rolar a tela*//*posicao dela em relacao a outra parte do site (relative) ou em relacao ao proprio espacamento (absolute)*/
	z-index: 2;
	top: 42px;/*distancia da parte superior esquerda*/
    margin-left: 18px;
}
.menutopo{
	width: 98%;/*com 100% ocupa uma parte maior que a tela.*/
	height: 80px;/*altura da imagem*/
	background-color: black;
	opacity: 0.5;
	z-index: 1;
	position: absolute;
	padding: 15px;
	top: 0px;
	left: -8px;
}
.menutopo ul li{
	display: inline;/*mostra todos os itens do menu na mesma linha*/
}
.menutopo ul li a{
	color: white;
	float: right;/*local onde o menu ira se fixar na pagina*/
	position: relative;
	font-size: 18px;
	padding: 5px;/*"preenchimento", distancia da div ate sua margem*/
	z-index: 2;
	margin-right: 29px;/*usado para dar um espacamento entre as opcoes do menu*/
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;/*retirar o sublinhado dos links*/
}
#frase{
	font-size: 52px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-shadow: 1.5px 1px black;/*sombra no texto, primeiro o quanto a sombra se separa do texto original e o segundo a espessura da letra_sombra*/
	margin-top: -600px;/*usado para aparecer no meio da imagem do computador*/
}
#link1{
	border-style: solid;/*tipos de bordas*/
	border-color: white;
	border-width: 1px;
	padding: 10px 28px;
	width: 220px;/*tamanhos diferentes para o texto caber sem a necessidade de pular linha*/
	text-decoration: none;
	display: inline-block;/*o texto ira aparecer na mesma linha, mas se nao for possivel (por causa do tamanho da frase) ao ir para a proxima linha
    ira dar um espacamento da linha superior*/
    margin-top: 20px;
	margin-top: 20px;
	font-size: 25px;
	color: white;
	text-shadow: 1.5px 1px black;
	font-family: 'Montserrat', sans-serif;

}
#link2{
	border-style: solid;
	border-color: white;
	border-width: 1px;
	padding: 10px 28px;
	width: 200px;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
    margin-left: 5px;
	font-size: 25px;
	color: white;
	text-shadow: 1.5px 1px black;
	font-family: 'Montserrat', sans-serif;
}
#ferramentinhas{
	margin-top: 380px;
	width: 100px;
	height: 200px;
	padding: 10px;
}
#descricao{
	margin-left: 390px;
	margin-top: -240px;
	font-size: 35px;
	color: orange;
	font-family: 'Montserrat', sans-serif;
}
#txtestranho{
	margin-left: 390px;
	margin-top: -20px;
	font-family: 'Montserrat', sans-serif;
	text-align: justify;/*feito para o texto ficar bem arrumado (estilo redacao do enem)*/
}
#divisao{/*linha pequena para dividir areas de interesse*/
	width: 100%;
	height: 2px;
	margin-top: 100px;
	background-color: #BEBEBE;/*cor de fundo*/
}
#area1{
	font-size: 35px;
	color: orange;
	text-align: center;/*usado para o texto ficar no meio da tela*/
	font-family: 'Montserrat', sans-serif;
}
#area2{
	margin-top: 110px;
	font-size: 35px;
	color: #B22222;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
#quadro1{
    margin-left: 90px;/*espacamento da esquerda da tela (feito para ficar organizado no centro*/
}
#quadro2{
    margin-left: 390px;
    margin-top: -285px;
}
#quadro3{
    margin-left: 690px;
    margin-top: -285px;/*usado para subir a imagem com o bloco de texto, pois antes os blocos ficavam em escada, mas ao arrumar 1, o segundo precisava 
    fifcar da mesma forma (com a mesma margin) pois ela se ajustava a div superior a ela*/
}
#quadro4{
    margin-left: 990px;
    margin-top: -285px;
}
#logocurso{
	height: 290px;
    width: 240px;
    margin-left: 10px;
    box-shadow: 0px 2px #292929;
    border-color: #B5B3A5;
    border-style: solid;
    border-width: 3px;/*largura da borda*/
    position: absolute;
    z-index: 1;
}
#assunto
{
    color: #FFFFFF;
    margin-top: 160px;
    padding-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
#postagem
{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 30px;
    text-align: center;

}
#botao1
{
    margin-top: 250px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FF5B00;
    color: #FFFFFF;
    width: 130px;
    height: 25px;
    border-radius: 10px 10px;
    padding-top: 10px;
    z-index: 4;
    text-decoration: none;
    border-color: #FF5B00;
    border:0px solid;
    text-align: center;
    font-size: 12px;
    margin-left: 65px;
    display: inline-block;
	vertical-align: middle;
	position: relative;
	left: 90px;/*usado para espacar da esquerda da tela, pois antes todos os botoes ficavam sobrepostos*/
}
#botao2
{
    margin-top: 250px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FF5B00;
    color: #FFFFFF;
    width: 130px;
    height: 25px;
    border-radius: 10px 10px;
    padding-top: 10px;
    z-index: 4;
    text-decoration: none;
    border-color: #FF5B00;
    border:0px solid;
    text-align: center;
    font-size: 12px;
    margin-left: 65px;
    display: inline-block;
	vertical-align: middle;
	position: relative;
	left: 390px;
}
#botao3
{
    margin-top: 250px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FF5B00;
    color: #FFFFFF;
    width: 130px;
    height: 25px;
    border-radius: 10px 10px;
    padding-top: 10px;
    z-index: 4;
    text-decoration: none;
    border-color: #FF5B00;
    border:0px solid;
    text-align: center;
    font-size: 12px;
    margin-left: 65px;
    display: inline-block;
	vertical-align: middle;
	position: relative;
	left: 690px;
}
#botao4
{
    margin-top: 250px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FF5B00;
    color: #FFFFFF;
    width: 130px;
    height: 25px;
    border-radius: 10px 10px;
    padding-top: 10px;
    z-index: 4;
    text-decoration: none;
    border-color: #FF5B00;
    border:0px solid;
    text-align: center;
    font-size: 12px;
    margin-left: 65px;
    display: inline-block;
	vertical-align: middle;
	position: relative;
	left: 990px;
}
#texto1/*usado para dar cor ao backgrond*/
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #FF7F50;
    position: absolute;
    z-index: 0;
}
#texto2
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #87CEFA;
    position: absolute;
    z-index: 0;
}
#texto3
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #F0E68C;
    position: absolute;
    z-index: 0;
}
#texto4
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #B22222;
    position: absolute;
    z-index: 0;
}
#texto5
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #A52A2A;
    position: absolute;
    z-index: -1;
}
#texto6
{
    width: 240px;
    height: 200px;
    margin-left: 13px;
    background-color: #7B68EE;
    position: absolute;
    z-index: 0;
}
#vermais{
	margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: #FFFFFF;
    width: 150px;
    height: 30px;
    border-radius: 10px 10px;
    padding-top: 10px;
    position: absolute;
    z-index: 4;
    text-decoration: none;
    border-color: black;
    border:0px solid;
    text-align: center;
    font-size: 15px;
    margin-left: 65px;
    left: 600px;
}

/*Codigo JAVASCRIPT adicionado*/

#alerta {
    width: 400px;
    background-color: #eddfdf;
    border: 1px solid #ccc;
    margin: 40px auto;
    cursor: move;
    position: absolute;
    left: calc(50% - 200px);
    top: 100px;
    display: none;
}

#alerta .title{
    background-color: #329596;
    height: 30px;
    border-bottom: 1px solid #227374;
    text-transform: uppercase;
    padding: 10px 10px 0px 0px;
    text-align: center;
    color: #073c3d;
    text-shadow: 1px 1px 1px #6fabac;
}

#alerta .title i{
    float: right;
    padding-top: 3px;
}

#alerta .body{
    padding: 10px;
}

form button{
    display: block;
    padding: 4px 11px;
    border: 1px solid #ffcc00;
    background-color: #ffcc00 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
    background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
    background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
    background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
    background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #666;
    cursor:pointer;
    position: relative;
    margin: 10px auto;
}

input[type=text]{   
    height: 34px;
    width: 315px;
    padding: 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#alerta .resultado{
    color: #227210;
    font-size: 12px;
}


#contador {
    color: #227210;
    position: fixed;
    top: 300px;
    left: 48%;
    font-size: 25px;
    z-index: 6;
}

#close{
    cursor: pointer;
    width: 20px;
    height: 20px;
}